/* Ashes by Jannik Siebert (https://github.com/janniks) */
.ashes {
  --base00: 28, 32, 35;
  --base01: 57, 63, 69;
  --base02: 86, 94, 101;
  --base03: 116, 124, 132;
  --base04: 173, 179, 186;
  --base05: 199, 204, 209;
  --base06: 223, 226, 229;
  --base07: 243, 244, 245;
  --base08: 199, 174, 149;
  --base09: 199, 199, 149;
  --base0A: 174, 199, 149;
  --base0B: 149, 199, 174;
  --base0C: 149, 174, 199;
  --base0D: 174, 149, 199;
  --base0E: 199, 149, 174;
  --base0F: 199, 149, 149;
}

/* Brogrammer by Vik Ramanujam (http://github.com/piggyslasher) */
.brogrammer {
  --base00: 31, 31, 31;
  --base01: 248, 17, 24;
  --base02: 45, 197, 94;
  --base03: 236, 186, 15;
  --base04: 42, 132, 210;
  --base05: 78, 90, 183;
  --base06: 16, 129, 214;
  --base07: 214, 219, 229;
  --base08: 214, 219, 229;
  --base09: 222, 53, 46;
  --base0A: 29, 211, 97;
  --base0B: 243, 189, 9;
  --base0C: 16, 129, 214;
  --base0D: 83, 80, 185;
  --base0E: 15, 125, 219;
  --base0F: 255, 255, 255;
}

/* Dracula by Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula) */
.dracula {
  --base00: 40, 41, 54;
  --base01: 58, 60, 78;
  --base02: 77, 79, 104;
  --base03: 98, 100, 131;
  --base04: 98, 214, 232;
  --base05: 233, 233, 244;
  --base06: 241, 242, 248;
  --base07: 247, 247, 251;
  --base08: 234, 81, 178;
  --base09: 180, 91, 207;
  --base0A: 0, 247, 105;
  --base0B: 235, 255, 135;
  --base0C: 161, 239, 228;
  --base0D: 98, 214, 232;
  --base0E: 180, 91, 207;
  --base0F: 0, 247, 105;
}
.ocean {
  --base00: 43, 48, 59;
  --base01: 52, 61, 70;
  --base02: 79, 91, 102;
  --base03: 101, 115, 126;
  --base04: 167, 173, 186;
  --base05: 192, 197, 206;
  --base06: 223, 225, 232;
  --base07: 239, 241, 245;
  --base08: 191, 97, 106;
  --base09: 208, 135, 112;
  --base0A: 235, 203, 139;
  --base0B: 163, 190, 140;
  --base0C: 150, 181, 180;
  --base0D: 143, 161, 179;
  --base0E: 180, 142, 173;
  --base0F: 171, 121, 103;
}

.onedark {
  --base00: 40, 44, 52;
  --base01: 53, 59, 69;
  --base02: 62, 68, 81;
  --base03: 84, 88, 98;
  --base04: 86, 92, 100;
  --base05: 171, 178, 191;
  --base06: 182, 189, 202;
  --base07: 200, 204, 212;
  --base08: 224, 108, 117;
  --base09: 209, 154, 102;
  --base0A: 229, 192, 123;
  --base0B: 152, 195, 121;
  --base0C: 86, 182, 194;
  --base0D: 97, 175, 239;
  --base0E: 198, 120, 221;
  --base0F: 190, 80, 70;
}

.solarized-dark {
  --base00: 0, 43, 54;
  --base01: 7, 54, 66;
  --base02: 88, 110, 117;
  --base03: 101, 123, 131;
  --base04: 131, 148, 150;
  --base05: 147, 161, 161;
  --base06: 238, 232, 213;
  --base07: 253, 246, 227;
  --base08: 220, 50, 47;
  --base09: 203, 75, 22;
  --base0A: 181, 137, 0;
  --base0B: 133, 153, 0;
  --base0C: 42, 161, 152;
  --base0D: 38, 139, 210;
  --base0E: 108, 113, 196;
  --base0F: 211, 54, 130;
}

.nord {
  --base00: 46, 52, 64;
  --base01: 59, 66, 82;
  --base02: 67, 76, 94;
  --base03: 76, 86, 106;
  --base04: 216, 222, 233;
  --base05: 229, 233, 240;
  --base06: 236, 239, 244;
  --base07: 143, 188, 187;
  --base08: 136, 192, 208;
  --base09: 129, 161, 193;
  --base0A: 94, 129, 172;
  --base0B: 191, 97, 106;
  --base0C: 208, 135, 112;
  --base0D: 235, 203, 139;
  --base0E: 163, 190, 140;
  --base0F: 180, 142, 173;
}

.rebecca {
  --base00: 41, 42, 68;
  --base01: 102, 51, 153;
  --base02: 56, 58, 98;
  --base03: 102, 102, 153;
  --base04: 160, 160, 197;
  --base05: 241, 239, 248;
  --base06: 204, 204, 255;
  --base07: 83, 73, 93;
  --base08: 160, 160, 197;
  --base09: 239, 228, 161;
  --base0A: 174, 129, 255;
  --base0B: 109, 254, 223;
  --base0C: 142, 174, 224;
  --base0D: 45, 224, 167;
  --base0E: 122, 165, 255;
  --base0F: 255, 121, 198;
}

.github {
  --base00: 255, 255, 255;
  --base01: 245, 245, 245;
  --base02: 200, 200, 250;
  --base03: 150, 152, 150;
  --base04: 232, 232, 232;
  --base05: 51, 51, 51;
  --base06: 51, 51, 51;
  --base07: 51, 51, 51;
  --base08: 237, 106, 67;
  --base09: 0, 134, 179;
  --base0A: 121, 93, 163;
  --base0B: 24, 54, 145;
  --base0C: 24, 54, 145;
  --base0D: 121, 93, 163;
  --base0E: 167, 29, 93;
  --base0F: 51, 51, 51;
}

.monokai {
  --base00: 39, 40, 34;
  --base01: 56, 56, 48;
  --base02: 73, 72, 62;
  --base03: 117, 113, 94;
  --base04: 165, 159, 133;
  --base05: 248, 248, 242;
  --base06: 245, 244, 241;
  --base07: 249, 248, 245;
  --base08: 249, 38, 114;
  --base09: 253, 151, 31;
  --base0A: 244, 191, 117;
  --base0B: 166, 226, 46;
  --base0C: 161, 239, 228;
  --base0D: 102, 217, 239;
  --base0E: 174, 129, 255;
  --base0F: 204, 102, 51;
}
